@import "tailwindcss";




body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .border-glow:focus {
    box-shadow: 0 0 15px rgba(168, 85, 247, 0.15);
  }
}@layer base {
  body {
    @apply bg-[#f4f1ea] text-[#1a1a1a]; /* Pure Off-white background with Ink-Black text */
  }
}